<header class="header">
  <div class="container">
    <ul class="nav-list-menu">
      <li class="list-menu">
        <a href="#" class="linc-menu"
          >Link menu <span class="corrent-color">1</span></a
        >
      </li>
      <li class="list-menu">
        <a href="#" class="linc-menu"
          >Link menu <span class="corrent-color">2</span></a
        >
      </li>
      <li class="list-menu">
        <a href="#" class="linc-menu"
          >Link menu <span class="corrent-color">3</span></a
        >
      </li>
    </ul>
  </div>
</header>
